*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Circular Std', sans-serif;
    color:white;
}

/* DESKTOP MIN-WIDTH 992PX */
/* COMMON STYLES */

.flex-container{
    display:flex;
}

a{
    text-decoration: none;
    color:white;
    text-transform: uppercase;
    font-size:0.7rem;
}

a:hover{
    text-decoration: underline;
}

span{
    color:rgb(172, 172, 172);
    font-size:0.7rem;
}

i{
    font-size:1.5rem;
}

.lg-d-none{
    display:none;
}

/* MAIN */

main{
    flex-direction:row;
}

/* MAIN - MAIN NAV */

main #main-nav{
    height:90vh;
    width:230.4px;

    background-color:black;

    flex-direction: column;
    justify-content:space-between;
}

main #main-nav #account-nav-bar{
    width:100%;
    padding:15px;
}

main #main-nav #account-nav-bar #main-logo{
    width:70%;
    padding:.2rem .5rem .8rem;
}

main #main-nav #account-nav-bar ul li img,
main #main-nav #account img{
    width:10%;

    margin:0 .3rem .5rem;
    vertical-align: text-top;

    filter: invert(40%);
}

main #main-nav #account-nav-bar ul li{
    list-style: none;
    color:gray;
}

main #main-nav #account-nav-bar ul li a{
    color:gray;
    text-transform: none;
}

main #main-nav #account-nav-bar .new-playlist{
    font-size:0.8rem;
    line-height:1.5rem;
}
main #main-nav #account-nav-bar .new-playlist h3{
    margin:1rem 0 .7rem;
    font-size:.8rem;
    text-transform: uppercase;
}

main #main-nav #account-nav-bar .new-playlist .fa-plus{
    padding:0.5rem;
    margin-right:.4rem;
    margin-bottom:.7rem;
    background-color:gray;
    font-size:0.9rem;
    color:black;
}


main #main-nav #account{
    width:100%;
    padding: 0 15px;
}

main #main-nav #account .border-bottom{
    border-bottom:2px solid gray;
    padding:10px 0;
    font-size: 0.8rem;
    margin-bottom:5px;
}

main #main-nav #account .border-bottom i{
    border:2px solid gray;
    border-radius:50%;
    padding:2px;
    font-size:.6rem;
    margin-right: 10px;
}

main #main-nav #account img{
    filter:invert(0);
    
    background-color:gray;
    border-radius: 50%;
    
    margin-bottom:15px;

}

main #main-nav #account span{
    font-size:.8rem;
    font-weight:700;
}

main #main-nav #account .name{
    color:white;
}



/* MAIN - MAIN-CONTENT */
main #main-content{
    height:90vh;
    width:85%;
    background-color:#1c222e;
    overflow:auto;
}

/* MAIN - MAIN CONTENT - CALL-TO-ACTION */

main #main-content #call-to-action{
    width:100%;
    background-color:rgba(0, 0, 0, 0.5);
    text-align:right;
    line-height:10vh;
}

main #call-to-action .btn{
    border:1px solid white;
    border-radius:15px;

    padding: .5rem 1rem;
    margin-right:10px;
}

/* MAIN - MAIN CONTENT - NAV-BAR-GENRE */

#nav-bar-genre{
    width:100%;
}

#nav-bar-genre ul{
    margin:auto;

    flex-wrap:wrap;
    justify-content:center;
}

#nav-bar-genre ul li{
    display:inline-block;
    margin-left:15px;
    line-height:5vh;
}

/* MAIN - MAIN CONTENT - ALBUMS */


main #main-content #playlist{
    width:100%;
    padding:20px;
}

main #main-content #playlist h1{
    font-size:1.5rem;
}


main #main-content #playlist .albums .album-cover{
    width:180px;
    text-align:center;
    margin:20px 20px  15px 0;
}

main #main-content #playlist .albums .album-cover img{
    width:100%;
    margin-bottom:10px;
}

main #main-content #playlist .albums .album-cover h4{
    font-weight:800;
    font-size:0.9rem;
}

main #main-content #playlist .albums .border-radius img{
    border-radius:50%;
}


/* FOOTER*/

footer{
    height:73.12px;
    width:100%;
    background-color:thistle;
    
    position:fixed;
    bottom:0;
}






/* TABLET HOR. MIN-WIDTH 768PX */
@media screen and (max-width:992px) and (min-width:768px){
    main #main-nav{
        width:230.4px;
    }
}


/* TABLET MIN-WIDTH 576px */
@media screen and (max-width:768px) and (min-width:576px){
    main #main-nav{
        width:230.4px;
    }

    main #main-content #playlist .albums{
        flex-wrap:wrap;
    }

    main #main-content #playlist .albums .album-cover{
        margin:10px 10px  7.5px 0;
        width:75px;
    }

    
    
}

/* MOBILE MAX-WIDTH 576PX */
@media screen and (max-width:576px){
    main #main-nav{
        width:10%;
    }

    main #main-content{
        width:90%;
    }

    main #main-nav #account-nav-bar,
    main #main-nav #account{
        display:flex;
        flex-direction:column;
        justify-content: center;
    }


    main #main-nav #account-nav-bar,
    main #main-nav #account{
        margin:0;
        padding:0;
    }

    main #main-nav #account-nav-bar ul li{
        text-align: center;
        margin-bottom:5px;
    }

    main #main-nav #account-nav-bar ul li a{
        display:none;
    }

    main #main-nav #account-nav-bar ul li img,
    main #main-nav #account img,
    main #main-nav #small-logo{
        width:50%;
        margin:auto;
    }
    main #main-nav #small-logo{
        margin-bottom: 15px;
        margin-top:5px;
    }

    main #main-nav #account{
        text-align: center;
    }

    main #main-nav #account .border-bottom{
        border-bottom:none;
        padding:15px 0;
        font-size: 0.8rem;
        margin-bottom:0;
    }
    
    main #main-nav #account .border-bottom i{
        margin:0;
    }

    main #main-nav #account img{
        filter:invert(0);
        
        background-color:gray;
        border-radius: 50%;
        vertical-align:none;
        margin-bottom:15px;
    
    }
    

    main #main-content #playlist .albums{
        flex-wrap:wrap;
        justify-content:center;
    }

    main #main-content #playlist .albums .album-cover{
    margin:10px 10px  7.5px 0;
    }

    
    



    .xs-d-block{
        display:block;
    }

    .xs-d-none{
        display:none;
    }


}

