*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Circular Std', sans-serif;
    color:white;
}

/* DESKTOP MIN-WIDTH 992PX */
/* COMMON STYLES */

.flex-container{
    display:flex;
}

a{
    text-decoration: none;
    color:white;
    text-transform: uppercase;
    font-size:0.7rem;
}

a:hover{
    text-decoration: underline;
}

span{
    color:rgb(172, 172, 172);
    font-size:0.7rem;
}

i{
    font-size:1.5rem;
}

.lg-d-none{
    display:none;
}

/* MAIN */


/* MAIN - MAIN NAV */

main #main-nav{
    width:230.4px;
    height:90vh;

    background-color:black;

    flex-direction: column;
    justify-content:space-between;
}

/* MAIN -TOP-MAIN-NAV */

#top-nav-bar #logo #main-logo{
    width:60%;
    padding:.5rem .5rem .8rem;
}

#top-nav-bar ul li img,
#bot-nav-bar img{
    width:10%;

    margin-bottom:.5rem; 
    vertical-align: middle;
    margin:0 5px 5px 15px;

    filter: invert(40%);
}

#top-nav-bar #center-nav ul li{
    list-style: none;
    color:gray;
    
}

#top-nav-bar #center-nav ul .active{
    border-left:lime 2px solid;
}

#top-nav-bar #center-nav ul li a{
    color:gray;
    text-transform: none;
}


#top-nav-bar #playlists{
    font-size:0.8rem;
    line-height:1.5rem;
    margin-left:15px;
    color:gray;
}

#top-nav-bar #playlists ul li{
    list-style: none;
} 



#top-nav-bar #playlists h3{
    margin:1rem 0 .7rem;
    font-size:.8rem;
    text-transform: uppercase;
    color:white;
}

#top-nav-bar #playlists .fa-plus{
    padding:0.5rem;
    margin-right:.4rem;
    margin-bottom:.7rem;
    background-color:gray;
    font-size:0.9rem;
    color:black;
}

/* MAIN -MAIN-NAV BOT-NAV-BAR */


#bot-nav-bar{
    padding: 0 15px;
    z-index:2;
}

#bot-nav-bar .border-bottom{
    border-bottom:2px solid gray;
    padding:10px 0;
    font-size: 0.8rem;
    margin-bottom:5px;
}

#bot-nav-bar .border-bottom i{
    border:2px solid gray;
    border-radius:50%;
    padding:2px;
    font-size:.6rem;
    margin-right: 10px;
}

main #main-nav #bot-nav-bar img{
    filter:invert(0);
    
    background-color:gray;
    border-radius: 50%;
    
    margin-bottom:15px;

}

main #main-nav #bot-nav-bar span{
    font-size:.8rem;
    font-weight:700;
}

main #main-nav #bot-nav-bar #user-name{
    color:white;
}


/* MAIN - MAIN-CONTENT */
main #main-content{
    width:85%;
    height:90vh;
    background-color:#1c222e;
    overflow:auto;
}

/* MAIN - MAIN CONTENT - CALL-TO-ACTION */

main #main-content #call-to-action{
    background-color:rgba(0, 0, 0, 0.5);
    text-align:right;
    line-height:74px;
}

main #call-to-action .btn{
    border:1px solid white;
    border-radius:15px;

    padding: .5rem 1rem;
    margin-right:10px;
}

/* MAIN - MAIN CONTENT - NAV-BAR-GENRE */

#nav-bar-genre{
    width:100%;
}

#nav-bar-genre ul{
    margin:auto;

    flex-wrap:wrap;
    justify-content:center;
}

#nav-bar-genre ul li{
    display:inline-block;
    margin-left:15px;
    line-height:5vh;
}

/* MAIN - MAIN CONTENT - ALBUMS */


main #main-content #playlist{
    width:100%;
    padding:20px;
}

main #main-content #playlist h1{
    font-size:1.5rem;
}


main #main-content #playlist .albums .album-cover{
    width:180px;
    text-align:center;
    margin:20px 20px  15px 0;
}

main #main-content #playlist .albums .album-cover img{
    width:100%;
    margin-bottom:10px;
}

main #main-content #playlist .albums .album-cover h4{
    font-weight:800;
    font-size:0.9rem;
}

main #main-content #playlist .albums .border-radius img{
    border-radius:50%;
}


/* FOOTER*/

footer{
    height:73.12px;
    width:100%;
    background-color:thistle;
    
    position:fixed;
    bottom:0;
    z-index:3;

    justify-content: space-between;
}

/* FOOTER COL-LEFT ALMUB COVER MINI */

.col-left .album-cover-mini{
    padding:1rem;
    width: 180px;
    height:100%;
    align-items: center;
}

.col-left .album-cover-mini img{
    width:30%;
}
.col-left .album-cover-mini .album-name {
    line-height:.6rem;
    margin:auto;
    margin-left:5px;
}
.col-left .album-cover-mini .album-name p,
.col-left .album-cover-mini .album-name span{
    margin:0;
    font-size:.7rem;
}

.col-left .album-cover-mini i{
    font-size:.9rem;
    color:gray;
    margin:0 .25rem;
}


/* FOOTER COL-CENTER - USER-TOOLS */

footer #user-tools{
    width:50%;
    background-color:hotpink;

    flex-direction: column;
    justify-content: center;
    
}

footer #user-tools .play-option{
    height:50%;
    background-color: plum;
    text-align:center;
}

footer #user-tools .play-option .fa-caret-left{
    border-left:4px solid white;
    font-size:2rem;
}

footer #user-tools .song-duration{
    height:40%;
    background-color: rebeccapurple;
}



footer .col-right{
    width:20%;
    height:100%;
    background-color: navy;
}


/* TABLET HOR. MIN-WIDTH 768PX */
@media screen and (max-width:992px) and (min-width:768px){
    main #main-nav{
        width:230.4px;
    }
}


/* TABLET MIN-WIDTH 576px */
@media screen and (max-width:768px) and (min-width:576px){
    main #main-nav{
        width:230.4px;
    }

    main #main-content #playlist .albums{
        flex-wrap:wrap;
    }

    main #main-content #playlist .albums .album-cover{
        margin:10px 10px  7.5px 0;
        width:75px;
    }

    
    
}

/* MOBILE MAX-WIDTH 576PX */
@media screen and (max-width:576px){
    main #main-nav{
        width:10%;
    }

    main #main-content{
        width:90%;
    }

    main #main-nav #top-nav-bar,
    main #main-nav #bot-nav-bar{
        display:flex;
        flex-direction:column;
        justify-content: center;
    }


    main #main-nav #top-nav-bar,
    main #main-nav #bot-nav-bar{
        margin:0;
        padding:0;
    }

    main #main-nav #top-nav-bar ul li{
        text-align: center;
        margin-bottom:5px;
    }

    main #main-nav #top-nav-bar ul li a{
        display:none;
    }

    main #main-nav #top-nav-bar ul li img,
    main #main-nav #bot-nav-bar img,
    main #main-nav #small-logo{
        width:50%;
        margin:auto;
    }
    main #main-nav #small-logo{
        margin-bottom: 15px;
        margin-top:5px;
    }

    main #main-nav #bot-nav-bar{
        text-align: center;
    }

    main #main-nav #bot-nav-bar .border-bottom{
        border-bottom:none;
        padding:15px 0;
        font-size: 0.8rem;
        margin-bottom:0;
    }
    
    main #main-nav #bot-nav-bar .border-bottom i{
        margin:0;
    }

    main #main-nav #bot-nav-bar img{
        filter:invert(0);
        
        background-color:gray;
        border-radius: 50%;
        vertical-align:none;
        margin-bottom:15px;
    
    }
    

    main #main-content #playlist .albums{
        flex-wrap:wrap;
        justify-content:center;
    }

    main #main-content #playlist .albums .album-cover{
    margin:10px 10px  7.5px 0;
    }

    
    



    .xs-d-block{
        display:block;
    }

    .xs-d-none{
        display:none;
    }


}

