*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* 
Gotham styles
font-family: 'Gotham', sans-serif;
font-family: 'Gotham Black', sans-serif;
font-family: 'Gotham Light', sans-serif;
font-family: 'Gotham Thin', sans-serif;
font-family: 'Gotham XLight', sans-serif;
font-family: 'Gotham Book', sans-serif;
font-family: 'Gotham Ultra', sans-serif; */

body{
    font-family: 'Circular Std', sans-serif;
}

/* DESKTOP MIN-WIDTH 992PX */
/* COMMON STYLES */

.clearfix::after{
    content:"";
    display:table;
    clear:both;
}


.flex-container{
    display:flex;
}



/* MAIN */

main{
    
}

/* CALL TO ACTION */
#call-to-action{
    height:10vh;
    width:80%;
    background-color:rgba(0, 0, 0, 0.5);

    position:fixed;
}


main #main-content{
    height:90vh;
    width:80%;
    background-color: powderblue;

}
main #main-nav{
    height:90vh;
    width:20%;
    background-color: pink;
}
/* Footer */

footer{
    height:10vh;
    width:100%;
    background-color:thistle;
}






/* TABLET HOR. MIN-WIDTH 768PX */


/* TABLET MIN-WIDTH 576px */

/* MOBILE MAX-WIDTH 576PX */